<h1>New User</h1>

<%% form_for(<%= namespace.blank? ? "@user" : "[:#{namespace}, @user]" %>) do |f| %>
  <%%= f.error_messages %>
  <p>
    <b>First name</b><br />
    <%%= text_field :user, :first_name %>
  </p>
  <p>
    <b>Last name</b><br />
    <%%= text_field :user, :last_name %>
  </p>
  <p>
    <b>Email</b><br />
    <%%= text_field :user, :email %>
  </p>
  <p>
  	<b><span>L</span>ogin</b><br />
    <%%= text_field :user, :login %>
  </p>
  <p>
    <b><span>P</span>assword</b><br />
    <%%= password_field :user, :password %>
  </p>
  <p>
    <b><span>P</span>assword confirmation</b><br />
    <%%= password_field :user, :password_confirmation %>
  </p>
  <p>
    <b>User Groups</b><br />
    <ul style="list-style: none;">
      <%% 
        @user_groups_for_user.each_with_index do |ug,i|
          input_id = "ug_#{ug.id}"
      %>
          <li id="li_<%%= input_id %>">
            <label for="<%%= input_id %>">
            <input id="<%%= input_id %>" name="<%%= input_id %>" type="checkbox"/>&nbsp;&nbsp;<%%= ug.name %>
            </label>
          </li>
      <%% 
        end
      %>
    </ul>
  </p>
  <p> <%%= f.submit "Create" %> </p>
<%% end %>

<%%= link_to 'Back', <%= namespace.blank? ? "users_path" : "#{namespace}_users_path" %> %>
